body{
    background-color: #B3C7E3;  
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-bottom: 0.1rem solid #0D284F;
    background-color: #8CBD8C;
}


.logo{
    font-size: 1.5rem;
    padding: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
}

h2{
    font-size: 1.5rem;
    position: relative;
    top: 2rem;
}

.section1{
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    position: relative;
    top: 5rem;
}

.section-vendas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    border: 0.1rem solid #0D284F;
    border-right: 0rem;
    align-items:center;
    width: 8rem;
    height: 6em;
}

.section-gastos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    border: 0.1rem solid #0D284F;
    align-items:center;
    width: 8rem;
    height: 6em;
}

.destaque{
    font-size: 1.2rem;
    font-weight: bold;
}

.valor{
    font-size: 1.3rem;
    position: relative;
    top: 1rem;
}


.section2{
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    position: relative;
    top: 10rem;
}

.section-transacoes{
    padding-right: 0rem;
    border-right: 0.1rem solid #0D284F;
    position: relative;
    width: 8rem;
    height: 10rem;
}

.section-grafico{
    width: 9rem;
    bottom: 8rem;
}

.subtexto{
    font-size: 1.2rem;
    font-weight: bold;
}

.data{
    font-weight: bold;
}

.grafico{
    width: 10rem;
    height: 10rem;
}

.botao{
    display: flex; 
    align-items: center;
    flex-direction: column;
    position: relative;
    border: 0.1rem solid #0D284F;
    padding: 1rem;
    margin: 1rem;
    margin-top: 10rem;
    min-width: 8rem; 
    height: 0.7rem;
    top: 4rem;
    right: 5rem;
    background-color: #8CBD8C;
}

.fonte{
    align-items: center;
    font-size: 1.2rem
}

img{
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    left: 0.5rem;
}

.open-sans{
    font-family: 'Open Sans', sans-serif;
    color: black;
}

a{
    text-decoration: none;
}