body{
    background-color: #B3C7E3; 
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-bottom: 0.1rem solid #0D284F;
    background-color: #8CBD8C;
}


.logo{
    font-size: 1.5rem;
    padding: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
}

.section-botoes{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 6rem;
}

.section-historico{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 0.1rem solid #0D284F;
    background-color: #B3C7E3;
    position: relative;
    top: 2rem;
}

.historico-img{
    width: 22rem;
    height: 12rem;
    justify-content: center;
}

.historico{
    position: absolute;
    right: 1rem;
    top: 105%;
}

.botao{
    display: flex; 
    justify-content: center;
    flex-direction: column;
    border: 0.1rem solid #0D284F;
    padding: 1rem;
    margin: 1rem;
    min-width: 20rem; 
    height: 4rem;
    background-color: #8CBD8C;
   
}

.font{
    align-items: center;
    font-size: 2rem;
}

img{
    width: 2.5rem;
    height: 2.5rem;
}

.saldo{
    font-size: 1.3rem;
    font-weight: bold;
}

.open-sans{
    font-family: 'Open Sans', sans-serif;
    color: black;
}

a{
    text-decoration: none;
}