body{
    background-color: gainsboro; 
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-bottom: 0.1rem solid black;
    background-color: darkolivegreen;
}


.logo{
    font-size: 1.5rem;
    padding: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
}

.section-botoes{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 5rem;
}

.section-historico{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2rem;
}

.historico-img{
    width: 22rem;
    height: 12rem;
    justify-content: center;
}

.botao{
    display: flex; 
    position: relative;
    align-items: center;
    flex-direction: column;
    border: 0.1rem solid black;
    padding: 1rem;
    margin: 1rem;
    min-width: 20rem; 
    height: 4rem;
    background-color: darkseagreen;
   
}

.historico{
    position: absolute;
    right: 1rem;
    top: 12rem;
}

.font{
    align-items: center;
    font-size: 2rem
}