body{
    background-color: #B3C7E3;  
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-bottom: 0.1rem solid black;
    background-color: #8CBD8C;
}


.logo{
    font-size: 1.5rem;
    padding: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
}

.img-user{
    width: 5rem;
    height: 5rem;
}

.infos-user{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 2rem;
}

h2{
    font-size: 2rem;
    font-weight: bold;
}

.troca-conta{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 1rem;
    border: 0.1rem solid black;
    padding: 0.6rem;
    margin: 1rem;
    width: 8rem; 
    height: 0.1rem;
    background-color: #8CBD8C;
}

img{
    width: 2.5rem;
    height: 2.5rem;
}

.section-botoes{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botao{
    display: flex;
    justify-content: center;
    border: 0.1rem solid black;
    padding: 1rem;
    margin: 1rem;
    width: 100%; 
    height: 1rem;
    background-color: #8CBD8C;
}

.fonte{
    align-items: center;
    font-size: 1.2rem
}

.open-sans{
    font-family: 'Open Sans', sans-serif;
    color: #0D284F;
}