body{
    background-color: gainsboro; 
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex start;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-bottom: 0.1rem solid black;
    background-color: darkolivegreen;
}


.logo{
    font-size: 1.5rem;
    padding: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
}

.img-user{
    width: 5rem;
    height: 5rem;
}

.infos-user{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: 2rem;
}

h2{
    font-size: 2rem;
    font-weight: bold;
}

.troca-conta{
    display: flex; 
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 0.1rem solid black;
    padding: 0.6rem;
    margin: 1rem;
    width: 7rem; 
    height: 0.1rem;
    left: 6rem;
    bottom: 1rem;
    background-color: darkseagreen;
}

img{
    width: 2.5rem;
    height: 2.5rem;
}

.botao{
    display: flex; 
    position: relative;
    align-items: center;
    flex-direction: column;
    border: 0.1rem solid black;
    padding: 1rem;
    margin: 1rem;
    width: 10rem; 
    height: 1rem;
    top: 3rem;
    background-color: darkseagreen;
}

.fonte{
    align-items: center;
    font-size: 1.2rem
}