body{
    background-color: #B3C7E3;  
}

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-bottom: 0.1rem solid black;
    background-color: #8CBD8C;
}

.logo{
    font-size: 1.5rem;
    padding: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
}

main{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 5rem;
}

.destaque{
    font-size: 1.8rem;
    font-weight: bold;
}

.subtexto{
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    top: 5rem;
    font-size: 1.5rem;
}

.botao{
    display: flex; 
    position: relative;
    align-items: center;
    flex-direction: column;
    border: 0.1rem solid black;
    padding: 1rem;
    margin: 1rem;
    min-width: 15rem; 
    height: 2rem;
    top: 12rem;
    background-color: #8CBD8C;
}

.fonte{
    align-items: center;
    font-size: 1.5rem
}


img{
    width: 2.5rem;
    height: 2.5rem;
}

.open-sans{
    font-family: 'Open Sans', sans-serif;
    color: #0D284F;
}