body{
    background-color: #B3C7E3; 
}

main{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 5rem;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-bottom: 0.1rem solid #0D284F;
    background-color: #8CBD8C;
}

.logo{
    font-size: 1.5rem;
    padding: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
}

.imagem-camera{
    position: relative;
    width: 15rem;
    height: 15rem;
    padding: 1rem;
    border: 0.3rem solid #0D284F;
}

.pagando{
    position: relative;
    bottom: 3rem;
    font-size: 2rem;
}

img{
    width: 2.5rem;
    height: 2.5rem;
}

.open-sans{
    font-family: 'Open Sans', sans-serif;
    color: black;
}

a{
    text-decoration: none;
}