body{
    background-color: #B3C7E3; 
}

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-bottom: 0.1rem solid #0D284F;
    background-color: #8CBD8C;
}

.logo{
    font-size: 1.5rem;
    padding: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
}

main{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 5rem;
}

.pagando{
    position: relative;
    bottom: 3rem;
    font-size: 2rem;
}


.section-botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 10rem;
}

.forma-pagamento{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.3rem;
}

.botao{
    display: flex; 
    position: relative;
    align-items: center;
    flex-direction: column;
    border: 0.1rem solid #0D284F;
    padding: 1rem;
    margin: 1rem;
    min-width: 15rem; 
    height: 2rem;
    background-color: #8CBD8C;
}

.fonte{
    align-items: center;
    font-size: 1.5rem
}

img{
    width: 2.5rem;
    height: 2.5rem;
}

.open-sans{
    font-family: 'Open Sans', sans-serif;
    color: black;
}

a{
    text-decoration: none;
}