body{
    background-color: gainsboro; 
}

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-bottom: 0.1rem solid black;
    background-color: darkolivegreen;
}

.logo{
    font-size: 1.5rem;
    padding: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
}

main{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 5rem;
}

.pagando{
    position: relative;
    bottom: 3rem;
    font-size: 2rem;
}


.section-botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 10rem;
}

.forma-pagamento{
    font-size:1.5rem;
}

.botao{
    display: flex; 
    position: relative;
    align-items: center;
    flex-direction: column;
    border: 0.1rem solid black;
    padding: 1rem;
    margin: 1rem;
    min-width: 15rem; 
    height: 2rem;
    background-color: darkseagreen;
}

.fonte{
    align-items: center;
    font-size: 1.5rem
}