body{
    background-color: gainsboro; 
}

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-bottom: 0.1rem solid black;
    background-color: darkolivegreen;
}

.logo{
    font-size: 1.5rem;
    padding: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
}

main{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 2rem;
}

.destaque{
    font-size: 2rem;
}

.section-qrcode{
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 3rem;
}

.qrcode{
    width: 15rem;
    height: 15rem;
    border: 0.3rem solid black;
}

h3{
    font-size: 1.5rem;
    font-weight: bold;
}

.subtexto{
    font-size: 1.2rem;
}

.botao{
    display: flex; 
    position: relative;
    align-items: center;
    flex-direction: column;
    border: 0.1rem solid black;
    padding: 1rem;
    margin: 1rem;
    min-width: 15rem; 
    height: 2rem;
    top: 6rem;
    background-color: darkseagreen;
}

.fonte{
    align-items: center;
    font-size: 1.5rem
}

.tela-seguinte{
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 7rem;
}

img{
    width: 2.5rem;
    height: 2.5rem;
}