body {
    background-color: #B3C7E3;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-bottom: 0.1rem solid #0D284F;
    background-color: #8CBD8C;
}

.logo {
    font-size: 1.5rem;
    padding: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
}

main {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 2rem;
}

.destaque {
    font-size: 2rem;
}

.subtexto {
    font-size: 1.5rem;
}

.valor {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #8CBD8C;
    top: 2rem;
    width: 18rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    height: 3rem;
    border-radius: 1rem;
    font-weight: bold;
}

.teclas {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-evenly;
    flex-wrap: wrap;
    top: 4rem;
    width: 14rem;
}

.botao {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    border: 0.1rem solid #0D284F;
    padding: 1rem;
    margin: 1rem;
    min-width: 15rem;
    height: 2rem;
    top: 5rem;
    background-color: #8CBD8C;
}

.fonte {
    align-items: center;
    font-size: 1.5rem
}

img {
    width: 2.5rem;
    height: 2.5rem;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

a {
    text-decoration: none;
}

.key {
    padding: 1.2rem;
    text-align: center;
    color: #FFFFFF;
    border-radius: 1rem;
    margin: 0.3rem;
    width: 0.5rem;
}

.key:active {
    background-color: #8CBD8C;
}

.num {
    background-color: #2F4C75;

}

.com {
    background-color: #8CBD8C;
}

.mais {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-evenly;
    flex-wrap: wrap;
    width: 12rem;
}

.produto {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #A1D6A1;
    top: 3rem;
    width: 12rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.2rem;
    height: 3rem;
    border-radius: 1rem;
}

